# Node.js dependencies
node_modules/

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Deployment
/.render/
.azure/
